*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/

.buckd
buck-out
.buckconfig.local
.buckconfig.d
buckaroo
buckaroo_macros.bzl

trace
artefacts.json
cxx.json
